@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/*MINOR CSS RESET*/
p {
    margin: 0;
}

p + P {
    margin: 10px;
}


:root {
    --l-space: 150px;
    --m-space: 80px;
    --s-space: 25px;
    --xs-space: 15px;
    --xxs-space: 5px;
    --symbols: 7.5rem;
    --symbols-in-cell: 5rem;
    --grey: #9e9e9e;
    --default-width: 500px;
    --board-width: calc(var(--default-width) - 150px);
    --board-gap: 12px;
    --l-fsize: 3rem;
    --m-fsize: 1.5rem;
    --s-fsize: 1.2rem;
    --btn-height: 50px;
    --btn-width: 200px;
}

body {
    font-family: 'Quicksand','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ttt {
    margin-top: var(--xxs-space);
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.header {
    text-align: center;
}

.row, .gameboard-container {
    display: grid;
    gap: var(--board-gap);
}

.outer-gameboard,
.pre-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
}

.outer-gameboard .proceed-btn {
    align-self: flex-start;
}

.gameboard-container {
    background-color: var(--grey);
    grid-template-rows: repeat(3, 1fr);
    width: var(--board-width);
    height: var(--board-width);
    margin: 55px 0;
}

.row {
    grid-template-columns: repeat(3, 1fr);
}

.col {
    background-color: #ffffff;
    font-size: var(--symbols-in-cell);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
}

.upper-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/*PREGAME SETUP DESIGN*/

.set-up-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(var(--default-width) + 120px)
}

.set-up-container > .box {
    text-align: right;
}

.player-input {
    display: flex;
    justify-content: space-between;
    margin: var(--s-space);
    margin-bottom: 0;
}

.p1-container,
.p2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-tag {
    margin-bottom: var(--xs-space);
    font-size: var(--m-fsize);
}

.player-role {
    font-weight: 400;
    font-size: var(--symbols);
}

.proceed-btn, .menu {
    height: var(--s-space);
    width: calc(var(--s-space) + var(--xs-space));
    background-color: #e9e9e9;
    border-radius: 2px;
}

.proceed-btn:hover,
.menu:hover {
    background-color: #a1a1a1;
}

.switch-btn {
    border: 2px solid #3f3f3f;
    height: var(--btn-height);
    width: var(--btn-width);
    border-radius: 10px;
    background-color: #ffffff;
}

.switch-btn:hover {
    background-color: #3f3f3f;
    color: #ffffff;
}

input[placeholder="Enter Name"] {
    margin: var(--s-space);
    border: 2px solid #f3f1f1;
    background-color: #f3f1f1;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: var(--s-fsize);
}

input[placeholder="Enter Name"]:focus {
    outline: none;
    border: 2px solid #273E47;
}


/*GAME RESULT PANEL*/

.winner-role {
    font-size: var(--symbols-in-cell);
    font-weight: 700;
}

.game-result {
    margin: 0 auto;
    position: relative;
}

.nav-btn {
    border: 2px solid #3f3f3f;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0 10px;
    color: #616161;
}

.nav-btn > svg {
    height: var(--btn-height);
    width: calc(var(--m-space) + 30px);
    vertical-align: top;
}

.nav-btn:hover {
    color: #ffffff;
    background-color: #616161;
    border: 2px solid #616161;
}

.nav-btns {
    margin-top: var(--m-space);
    display: flex;
}

.crown-icon {
    height: var(--symbols);
    width: var(--symbols);
    position: relative;
    top: 24px;
}

.game-score {
    position: absolute;
    top: 24px;
    right: -250px;
    background-color: #dadada;
    border-radius: 10px;
    text-align: center;
}

.game-score > h2 {
    margin-top: calc(var(--m-space) - 25px);
}

.score-header > h2 {
    margin: var(--s-space) var(--m-space);
}

.current-round {
    font-size: var(--l-fsize);
    font-weight: 700;
}

.individual-score > * {
    margin: var(--xxs-space);
}

.individual-score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.individual-score > h5 {
    justify-self: flex-end;
}


.individual-score > p {
    justify-self: center;
}

.score-content {
    display: grid;
    grid-template-rows  : repeat(2, 1fr);
    width: 200px;
    margin: var(--s-space) auto;
}

/*GAME-MODE-SElECTION*/

.intro {
    text-align: center;
}

.game-mode {
    display: flex;
    justify-content: center;
}

.game-mode input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
}

.game-mode label {
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem 2rem;
    border: 2px solid #7E8287;
    width: 75px;
}

.game-mode label:hover {
    cursor: pointer;
}

.game-mode input#opponent-player:checked+label {
    background-color: #114B5F;
    color: #E8F1F2;
}

.game-mode input#opponent-AI:checked+label {
    background-color: #542952;
    color: #E8F1F2;
}

.game-mode label:first-of-type {
    border-radius: 25px 0 0 25px;
}

.game-mode label:last-of-type {
    border-radius: 0 25px 25px 0;
}

.intro {
    border-bottom: 5px solid #3f3f3f;
    width: 450px;
    margin: 0 auto;
}

.intro h2 {
    margin: 0;
    margin-bottom: var(--xs-space);
    font-size: var(--s-fsize);
}

.intro .game-mode {
    margin-bottom: 20px;
}

.intro .set-up-container {
    margin: 0 auto;
}








.hide {
    display: none;
}





/*Simple Animation for game result*/
.show {
    animation: fadeIn 3s;
}

.blurr {
    opacity: 0%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
  100% { opacity: 1; }
}